<div class="row">
  <div class="heading">
    <i class="fa fa-file-text-o"></i>
    <div class="extra-wrap">
      <h2><% @product.name %></h2>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="carousel">
      <% @images.each do |image| %>
      <a class="carousel-item" href="#<%= image.description %>"><img src="<%= image.url %>"></a>
      <% end %>
    </div>
  </div>
  <div class="col-sm-6">
    <p>
      <%= @product.description %></p>
    <hr>
    <p>
      <%= @product.list_price %></p>
    <hr>
    <p>
      <%= @product.sale_price %></p>
    <hr>
  </div>
  <div class="col-sm-6">
    <form action="/product" method="post">
      <label for="quantity">Quantity:
      </label>
      <input type="text" name="quantity">
      <button type="button" name="add_to_cart"></button>
    </form>
  </div>
</div>

</div>
