<div class="col-sm-7">
  
</div>
<div class="col-sm-5">
  <h1><%=@product.name%></h1>
    <% (1..5).each do |element|%>
        <% if @product.reviews.length > 0%>
           <%if element > @product.reviews.rating %>
              <span class="fa fa-star"></span>
           <%else%>
              <span class="fa fa-star checked"></span>
           <%end%>
        <%else%>
           <span class="fa fa-star"></span>
        <%end%>
     <%end%>
  <a href="/rating/<%=@product.id%>"> <%=@total%> reviews/ write a reviews </a>
  <p>$<%= @product.list_price%></p>
  <hr>
  <p>Product Description</p>
  <p><%= @product.description%></p>
    <label>Item:</label>
    <select name="quantity">
      <%if @product.quantity < 1%>
        <option>Out Of Stock</option>
      <% elsif @product.quantity > 5 %>
        <%(1..5).each do |i|%>
          <%if i <= @product.quantity%>
            <option value="<%=i%>"><%=i%></option>
          <%end%>
        <%end%>
      <% end %>
    </select>
</div>