<div class="col-sm-7">
  <div class="select-image">
    <% @product_image.each do |image| %>
      <img  src="<%=image.url%>" width="75" height="75" onclick="useme(this)">
    <%end%>
  </div>
  <div class="main-image">
    <img id="myImg" src="<%=@product_image[0].url%>" alt="Trolltunga, Norway" width="250" height="250">
  </div>



</div>
<div class="col-sm-5">
  <h1><%=@product.name%></h1>
    <% (1..5).each do |element|%>
        <% if @product.reviews.length > 0%>
           <%if element > @product.reviews.rating %>
              <span class="fa fa-star"></span>
           <%else%>
              <span class="fa fa-star checked"></span>
           <%end%>
        <%else%>
           <span class="fa fa-star"></span>
        <%end%>
     <%end%>
  <a href="/rating/<%=@product.id%>"> <%=@total%> reviews/ write a reviews </a>
  <h3>$<%= @product.list_price%></h3>
  <hr>
  <p>Product Description</p>
  <p><%= @product.description%></p>
    <label>Item:</label>
    <select name="quantity" style="width:5rem">
      <%(1..5).each do |i|%>
          <option value="<%=i%>"><%=i%></option>
      <%end%>
    </select>
    <hr>
    <div class="clear">

    </div>
    <div class="link" style="float:left">
      <a href="/add_item/cart/<%=@product.id%>"><span class="glyphicon glyphicon-shopping-cart"></span>Add to cart</a>
    </div>
</div>
<script type="text/javascript">
  function useme(e) {

    $('#myImg').attr("src", e.src);
    
  }
</script>
